@{
    ViewBag.Title = "Riepilogo";
}

<div class="container my-5">
    <div>
        <p>
            <button class="btn btn-primary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseClienti" aria-expanded="false" aria-controls="collapseClienti">
                Lista Prenotazioni
            </button>
        </p>
        <div class="collapse" id="collapseClienti">
            <div class="card card-body">
                @{Html.RenderAction("PWIndex", "Prenotazioni");}
            </div>
        </div>
    </div>
    <div>
        <p>
            <button class="btn btn-primary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseClienti" aria-expanded="false" aria-controls="collapseClienti">
                Lista Clienti
            </button>
        </p>
        <div class="collapse" id="collapseClienti">
            <div class="card card-body">
                @{Html.RenderAction("PWIndex", "Cliente");}
            </div>
        </div>
    </div>
    <div>
        <p>
            <button class="btn btn-primary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseClienti" aria-expanded="false" aria-controls="collapseClienti">
                Lista Camere
            </button>
        </p>
        <div class="collapse" id="collapseClienti">
            <div class="card card-body">
                @{Html.RenderAction("PWIndex", "Camere");}
            </div>
        </div>
    </div>
    <div>
        <p>
            <button class="btn btn-primary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseClienti" aria-expanded="false" aria-controls="collapseClienti">
                Tipo pernottamenti
            </button>
        </p>
        <div class="collapse" id="collapseClienti">
            <div class="card card-body">
                @{Html.RenderAction("PWIndex", "Pernottamenti");}
            </div>
        </div>
    </div>

    <p>Ricerca Prenotazioni per codice fiscale</p>
    <input id="SearchByCF" type="text" class="form-control d-inline"/>
    <button id="SearchCF" class="btn-primary">Cerca</button>

    <table class="table">
        <tbody>
            <tr>
                <th>Prenotazione</th>
                <th>Data Prenotazione</th>
                <th>Inizio Soggiorno</th>
                <th>Fine Soggiorno</th>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Codice Fiscale</th>
                <th>Camera n°</th>
                <th>Pensione</th>
            </tr>
            <tr id="Risultati"></tr>
        </tbody>
    </table>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#SearchCF').click(function () {
                $.ajax({
                    method: 'GET',
                    data: { 'codicefiscale': $('#SearchByCF').val() },
                    url: 'GetPrenotazioniByCF',
                    success: function (prenotazionebyCF) {
                        $.each(prenotazionebyCF, function (index, pren) {
                            $('#Risultati').append("<td>" + pren.Id + "</td>"+
                                "<td>" + pren.DataPrenotazione + "</td>" +
                                "<td>" + pren.InizioPrenotazione + "</td>"+ 
                                "<td>" + pren.FinePrenotazione + "</td>"+
                                "<td>" + pren.IdClienti.Nome + "</td>"+
                                "<td>" + pren.IdClienti.Cognome + "</td>"+
                                "<td>" + pren.IdClienti.CodiceFiscale + "</td>"+
                                "<td>" + pren.IdCamera.Numero + "</td>"+
                                "<td>" + pren.IdPernottamento.Tipologia + "</td>"
                            )
                            
                        })
                    }
                })
            })
        })

    </script>
</div>
